# IP ou domaine public du serveur cloud
SERVER_HOST=10.0.0.152

# Base de données
DB_USER=umons-sensor-prod
DB_PASSWORD=change_me
DB_NAME=umons-sensor-db-prod

# JWT (générer avec : openssl rand -base64 64)
JWT_SECRET=change_me

# GHCR (pour Watchtower)
GHCR_USER=your_github_username
GHCR_TOKEN=your_github_pat
